In [3]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Data Collection And Analysis

In [4]:
dataset =  pd.read_csv("diabetes_dataset.csv")

In [5]:
dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [6]:
dataset.shape

(768, 9)

In [7]:
##np.shape? (it is for getting help)

In [8]:
##Statistical measure of the data

In [9]:
dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [10]:
dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

Outcome = 0 => Non-diabetic,
Outcome = 1 => Diabetic

In [11]:
dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [12]:
x = dataset.drop(columns = 'Outcome', axis = 1)
y = dataset['Outcome']

In [13]:
x.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [14]:
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

Data Standardization

In [15]:
scaler = StandardScaler()

In [16]:
scaler.fit(x)

StandardScaler()

In [17]:
Standard_data = scaler.transform(x) ##Or use fit_transform()

In [18]:
Standard_data

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [19]:
x = Standard_data
y = dataset['Outcome']

Train Test Split

In [24]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, stratify = y, random_state = 2)

In [30]:
x.shape, x_train.shape, x_test.shape

((768, 8), (614, 8), (154, 8))

Training the model

In [31]:
classifier = svm.SVC(kernel= 'linear')

training the support vector machine classifier

In [50]:
model = classifier.fit(x_train, y_train)

Evaluation of the model

In [51]:
##Accuracy score on the traning data

In [52]:
x_train_pred = classifier.predict(x_train)

In [53]:
accuracy = accuracy_score(x_train_pred, y_train)

In [54]:
print("The accuracy of the model in the training data", accuracy*100)

The accuracy of the model in the training data 78.66449511400651

In [55]:
##Accuracy score on the test data

In [56]:
x_test_pred = classifier.predict(x_test)

In [57]:
accuracy_test = accuracy_score(x_test_pred, y_test)

In [48]:
print("The accuracy of the model in the test data", accuracy_test*100)

The accuracy of the model in the test data 77.27272727272727

In [60]:
max = 0
for i in range(100):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, stratify = y, random_state = 2)
    model = classifier.fit(x_train, y_train)
    x_train_pred = classifier.predict(x_train)
    accuracy = accuracy_score(x_train_pred, y_train)
    if (accuracy > max):
        max = accuracy
print("the best accuracy of the  model in the training data", max*100)

the best accuracy of the  model in the training data 78.66449511400651

Prediction system

In [79]:
for i in range(len(x_test_pred)):
    print(i+1, "Actual value",  x_test_pred[i],",Predicted value", y_test.iat[i], end = ', ')
    if (x_test_pred[i] == y_test.iat[i]):
        print("Correct prediction")
    else:
        print("Incorrect prediction")

1 Actual value 0 ,Predicted value 0, Correct prediction
2 Actual value 0 ,Predicted value 0, Correct prediction
3 Actual value 1 ,Predicted value 0, Incorrect prediction
4 Actual value 1 ,Predicted value 1, Correct prediction
5 Actual value 0 ,Predicted value 0, Correct prediction
6 Actual value 0 ,Predicted value 0, Correct prediction
7 Actual value 0 ,Predicted value 0, Correct prediction
8 Actual value 1 ,Predicted value 1, Correct prediction
9 Actual value 0 ,Predicted value 0, Correct prediction
10 Actual value 1 ,Predicted value 1, Correct prediction
11 Actual value 1 ,Predicted value 1, Correct prediction
12 Actual value 0 ,Predicted value 0, Correct prediction
13 Actual value 0 ,Predicted value 1, Incorrect prediction
14 Actual value 1 ,Predicted value 0, Incorrect prediction
15 Actual value 0 ,Predicted value 0, Correct prediction
16 Actual value 1 ,Predicted value 1, Correct prediction
17 Actual value 0 ,Predicted value 0, Correct prediction
18 Actual value 0 ,Predicted value 0, Correct prediction
19 Actual value 0 ,Predicted value 0, Correct prediction
20 Actual value 0 ,Predicted value 1, Incorrect prediction
21 Actual value 0 ,Predicted value 0, Correct prediction
22 Actual value 0 ,Predicted value 0, Correct prediction
23 Actual value 1 ,Predicted value 1, Correct prediction
24 Actual value 0 ,Predicted value 1, Incorrect prediction
25 Actual value 0 ,Predicted value 0, Correct prediction
26 Actual value 0 ,Predicted value 0, Correct prediction
27 Actual value 0 ,Predicted value 1, Incorrect prediction
28 Actual value 1 ,Predicted value 1, Correct prediction
29 Actual value 0 ,Predicted value 0, Correct prediction
30 Actual value 1 ,Predicted value 0, Incorrect prediction
31 Actual value 0 ,Predicted value 0, Correct prediction
32 Actual value 0 ,Predicted value 0, Correct prediction
33 Actual value 0 ,Predicted value 0, Correct prediction
34 Actual value 1 ,Predicted value 1, Correct prediction
35 Actual value 0 ,Predicted value 0, Correct prediction
36 Actual value 0 ,Predicted value 1, Incorrect prediction
37 Actual value 0 ,Predicted value 0, Correct prediction
38 Actual value 0 ,Predicted value 0, Correct prediction
39 Actual value 0 ,Predicted value 0, Correct prediction
40 Actual value 0 ,Predicted value 0, Correct prediction
41 Actual value 1 ,Predicted value 1, Correct prediction
42 Actual value 0 ,Predicted value 0, Correct prediction
43 Actual value 0 ,Predicted value 0, Correct prediction
44 Actual value 1 ,Predicted value 1, Correct prediction
45 Actual value 0 ,Predicted value 0, Correct prediction
46 Actual value 0 ,Predicted value 1, Incorrect prediction
47 Actual value 0 ,Predicted value 0, Correct prediction
48 Actual value 0 ,Predicted value 0, Correct prediction
49 Actual value 0 ,Predicted value 0, Correct prediction
50 Actual value 0 ,Predicted value 0, Correct prediction
51 Actual value 0 ,Predicted value 0, Correct prediction
52 Actual value 0 ,Predicted value 0, Correct prediction
53 Actual value 1 ,Predicted value 0, Incorrect prediction
54 Actual value 0 ,Predicted value 0, Correct prediction
55 Actual value 1 ,Predicted value 1, Correct prediction
56 Actual value 0 ,Predicted value 0, Correct prediction
57 Actual value 0 ,Predicted value 0, Correct prediction
58 Actual value 0 ,Predicted value 0, Correct prediction
59 Actual value 0 ,Predicted value 1, Incorrect prediction
60 Actual value 0 ,Predicted value 0, Correct prediction
61 Actual value 0 ,Predicted value 1, Incorrect prediction
62 Actual value 0 ,Predicted value 0, Correct prediction
63 Actual value 0 ,Predicted value 1, Incorrect prediction
64 Actual value 0 ,Predicted value 0, Correct prediction
65 Actual value 1 ,Predicted value 1, Correct prediction
66 Actual value 0 ,Predicted value 1, Incorrect prediction
67 Actual value 0 ,Predicted value 0, Correct prediction
68 Actual value 1 ,Predicted value 1, Correct prediction
69 Actual value 0 ,Predicted value 0, Correct prediction
70 Actual value 0 ,Predicted value 0, Correct prediction
71 Actual value 1 ,Predicted value 1, Correct prediction
72 Actual value 0 ,Predicted value 0, Correct prediction
73 Actual value 1 ,Predicted value 0, Incorrect prediction
74 Actual value 0 ,Predicted value 0, Correct prediction
75 Actual value 1 ,Predicted value 1, Correct prediction
76 Actual value 0 ,Predicted value 0, Correct prediction
77 Actual value 0 ,Predicted value 0, Correct prediction
78 Actual value 0 ,Predicted value 0, Correct prediction
79 Actual value 0 ,Predicted value 1, Incorrect prediction
80 Actual value 0 ,Predicted value 0, Correct prediction
81 Actual value 0 ,Predicted value 0, Correct prediction
82 Actual value 0 ,Predicted value 0, Correct prediction
83 Actual value 0 ,Predicted value 0, Correct prediction
84 Actual value 0 ,Predicted value 1, Incorrect prediction
85 Actual value 0 ,Predicted value 1, Incorrect prediction
86 Actual value 1 ,Predicted value 0, Incorrect prediction
87 Actual value 0 ,Predicted value 0, Correct prediction
88 Actual value 0 ,Predicted value 0, Correct prediction
89 Actual value 1 ,Predicted value 0, Incorrect prediction
90 Actual value 0 ,Predicted value 0, Correct prediction
91 Actual value 0 ,Predicted value 1, Incorrect prediction
92 Actual value 0 ,Predicted value 0, Correct prediction
93 Actual value 1 ,Predicted value 1, Correct prediction
94 Actual value 0 ,Predicted value 0, Correct prediction
95 Actual value 0 ,Predicted value 0, Correct prediction
96 Actual value 1 ,Predicted value 1, Correct prediction
97 Actual value 0 ,Predicted value 0, Correct prediction
98 Actual value 0 ,Predicted value 0, Correct prediction
99 Actual value 1 ,Predicted value 0, Incorrect prediction
100 Actual value 1 ,Predicted value 1, Correct prediction
101 Actual value 0 ,Predicted value 0, Correct prediction
102 Actual value 0 ,Predicted value 1, Incorrect prediction
103 Actual value 0 ,Predicted value 1, Incorrect prediction
104 Actual value 0 ,Predicted value 0, Correct prediction
105 Actual value 0 ,Predicted value 1, Incorrect prediction
106 Actual value 0 ,Predicted value 0, Correct prediction
107 Actual value 0 ,Predicted value 0, Correct prediction
108 Actual value 0 ,Predicted value 0, Correct prediction
109 Actual value 0 ,Predicted value 0, Correct prediction
110 Actual value 0 ,Predicted value 0, Correct prediction
111 Actual value 1 ,Predicted value 1, Correct prediction
112 Actual value 0 ,Predicted value 0, Correct prediction
113 Actual value 0 ,Predicted value 0, Correct prediction
114 Actual value 0 ,Predicted value 0, Correct prediction
115 Actual value 0 ,Predicted value 1, Incorrect prediction
116 Actual value 1 ,Predicted value 1, Correct prediction
117 Actual value 0 ,Predicted value 0, Correct prediction
118 Actual value 1 ,Predicted value 1, Correct prediction
119 Actual value 0 ,Predicted value 1, Incorrect prediction
120 Actual value 1 ,Predicted value 1, Correct prediction
121 Actual value 0 ,Predicted value 0, Correct prediction
122 Actual value 0 ,Predicted value 1, Incorrect prediction
123 Actual value 0 ,Predicted value 0, Correct prediction
124 Actual value 1 ,Predicted value 1, Correct prediction
125 Actual value 1 ,Predicted value 0, Incorrect prediction
126 Actual value 0 ,Predicted value 0, Correct prediction
127 Actual value 0 ,Predicted value 0, Correct prediction
128 Actual value 0 ,Predicted value 0, Correct prediction
129 Actual value 0 ,Predicted value 1, Incorrect prediction
130 Actual value 0 ,Predicted value 0, Correct prediction
131 Actual value 0 ,Predicted value 0, Correct prediction
132 Actual value 1 ,Predicted value 1, Correct prediction
133 Actual value 1 ,Predicted value 1, Correct prediction
134 Actual value 0 ,Predicted value 1, Incorrect prediction
135 Actual value 0 ,Predicted value 0, Correct prediction
136 Actual value 0 ,Predicted value 1, Incorrect prediction
137 Actual value 0 ,Predicted value 1, Incorrect prediction
138 Actual value 0 ,Predicted value 1, Incorrect prediction
139 Actual value 0 ,Predicted value 0, Correct prediction
140 Actual value 0 ,Predicted value 0, Correct prediction
141 Actual value 0 ,Predicted value 0, Correct prediction
142 Actual value 1 ,Predicted value 1, Correct prediction
143 Actual value 0 ,Predicted value 0, Correct prediction
144 Actual value 0 ,Predicted value 0, Correct prediction
145 Actual value 0 ,Predicted value 0, Correct prediction
146 Actual value 1 ,Predicted value 1, Correct prediction
147 Actual value 0 ,Predicted value 1, Incorrect prediction
148 Actual value 0 ,Predicted value 0, Correct prediction
149 Actual value 0 ,Predicted value 0, Correct prediction
150 Actual value 0 ,Predicted value 0, Correct prediction
151 Actual value 1 ,Predicted value 1, Correct prediction
152 Actual value 0 ,Predicted value 0, Correct prediction
153 Actual value 0 ,Predicted value 0, Correct prediction
154 Actual value 0 ,Predicted value 0, Correct prediction